<!-- begin #page-loader -->
<div id="page-loader" class="page-loader fade in"><span class="spinner">Loading...</span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-container page-header-fixed page-sidebar-fixed page-with-two-sidebar page-with-footer">
    <app-finance-navbar></app-finance-navbar>
    <app-finance-sidebar></app-finance-sidebar>
    <app-finance-dashboard></app-finance-dashboard>
    <app-finance-right-sidebar></app-finance-right-sidebar>
</div>
