<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
        <li class="breadcrumb-item active"><a href="javascript:;">Dashboard</a></li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Dashboard </h1>
    <!-- end page-header -->
    
    <!-- begin row -->
    <div class="row">
        <!-- begin col-2 -->
        <div class="col-lg-2 col-6">
            <!-- begin widget -->
            <div class="widget widget-stat bg-white">
                <div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-redo"></i></a></div>
                <div class="widget-stat-number">1,293 <i class="fa fa-caret-up text-muted"></i></div>
                <div class="widget-stat-text">Requisitions</div>
            </div>
            <!-- end widget -->
            <!-- begin widget -->
            <div class="widget widget-stat bg-success text-white">
                <div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-redo"></i></a></div>
                <div class="widget-stat-text">Payment Advice</div>
                <div class="widget-stat-number">139</div>
            </div>
            <!-- end widget -->
        </div>
        <!-- end col-2 -->
        <!-- begin col-2 -->
        <div class="col-lg-2 col-6">
            <!-- begin widget -->
            <div class="widget widget-stat bg-inverse text-white">
                <div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-redo"></i></a></div>
                <div class="widget-stat-number">10</div>
                <div class="widget-stat-text">TODAY'S RV</div>
            </div>
            <!-- end widget -->
            <!-- begin widget -->
            <div class="widget widget-stat bg-warning text-white">
                <div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-redo"></i></a></div>
                <div class="widget-stat-text">TODAY'S PO</div>
                <div class="widget-stat-number">839 <i class="fa fa-caret-down"></i></div>
            </div>
            <!-- end widget -->
        </div>
        <!-- end col-2 -->
        <!-- begin col-4 -->
        <div class="col-lg-4 col-sm-6">
            <!-- begin widget -->
            <div class="widget widget-stat text-white bg-purple">
                <div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-redo"></i></a></div>
                <div class="widget-stat-content">
                    <div class="widget-stat-title">Financial Results</div>
                    <div class="widget-stat-text m-b-10">from 1st Apr 2019 - 31st Mar 2020</div>
                    <div class="widget-stat-number m-b-10">1,302,493</div>
                    <div class="widget-stat-chart">
                        <div id="flot-visitor-chart" data-height="105px" style="margin: 0 -10px -10px"></div>
                    </div>
                </div>
            </div>
            <!-- end widget -->
        </div>
        <!-- end col-4 -->
        <!-- begin col-4 -->
        <div class="col-lg-4 col-sm-6">
            <!-- begin widget -->
            <div class="widget widget-stat text-white bg-primary-dark">
                <div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-redo"></i></a></div>
                <div class="widget-stat-content">
                    <div class="widget-stat-title">Total Item Sold</div>
                    <div class="widget-stat-text m-b-10">from 1st Apr 2019 - 31st September 2020</div>
                    <div class="widget-stat-number m-b-10">123,293</div>
                    <div class="widget-stat-chart">
                        <div id="sparkline-bar-chart"></div>
                    </div>
                </div>
            </div>
            <!-- end widget -->
        </div>
        <!-- end col-4 -->
    </div>
    <!-- end row -->
    <!-- begin row -->
    <div class="row">
        <div class="col-lg-8">
        
        </div>
        <div class="col-lg-4">
            <!-- begin widget -->
        
        </div>
    </div>
    <!-- end row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <!-- begin panel -->
            <div class="panel p-20">
                <h5 class="m-t-0">Revenue Comparison (Last 3 years)</h5>

                <p class="m-b-15">
                </p>
                <div><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                    <canvas id="line-chart" style="display: block; width: 475px; height: 237px;" width="475" height="237" class="chartjs-render-monitor"></canvas>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <!-- begin panel -->
            <div class="panel p-20">
                <h5 class="m-t-0">CR DR Chart</h5>
                <p class="m-b-15">
                </p>
                <div><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                    <canvas id="bar-chart" width="475" height="237" class="chartjs-render-monitor" style="display: block; width: 475px; height: 237px;"></canvas>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-6 -->
    </div>
    <!-- begin row -->
    <div class="row">
        <!-- begin col-3 -->
        <div class="col-lg-3 col-sm-6">
            <!-- begin widget -->
            <div class="widget widget-stat bg-primary text-white">
                <div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-redo"></i></a></div>
                <div class="widget-stat-icon"><i class="fa fa-users"></i></div>
                <div class="widget-stat-info">
                    <div class="widget-stat-title">Payment Advice</div>
                    <div class="widget-stat-number">
                        <h6 class="text-white">Total : 50</h6>
                        <h6 class="text-white">Pending : 10</h6>
                        <h6 class="text-white">Cleared : 40</h6>
                    </div>
                </div>
            </div>
            <!-- end widget -->
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-sm-6">
            <!-- begin widget -->
            <div class="widget widget-stat bg-success text-white">
                <div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-redo"></i></a></div>
                <div class="widget-stat-icon"><i class="fa fa-gem"></i></div>
                <div class="widget-stat-info">
                    <div class="widget-stat-title">Receipt Voucher</div>
                    <div class="widget-stat-number">
                        <h6 class="text-white">Total : 50</h6>
                        <h6 class="text-white">Pending : 10</h6>
                        <h6 class="text-white">Cleared : 40</h6>
                    </div>
                </div>
            </div>
            <!-- end widget -->
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-sm-6">
            <!-- begin widget -->
            <div class="widget widget-stat bg-warning text-white">
                <div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-redo"></i></a></div>
                <div class="widget-stat-icon"><i class="fa fa-hdd"></i></div>
                <div class="widget-stat-info">
                    <div class="widget-stat-title">Imprest</div>
                    <div class="widget-stat-number">
                        <h6 class="text-white">Total : 50</h6>
                        <h6 class="text-white">Pending : 10</h6>
                        <h6 class="text-white">Cleared : 40</h6>
                    </div>
                </div>
            </div>
            <!-- end widget -->
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3 col-sm-6">
            <!-- begin widget -->
            <div class="widget widget-stat bg-info text-white">
                <div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-redo"></i></a></div>
                <div class="widget-stat-icon"><i class="fa fa-file"></i></div>
                <div class="widget-stat-info">
                    <div class="widget-stat-title">Utility</div>
                    <div class="widget-stat-number">
                        <h6 class="text-white">Total : 50</h6>
                        <h6 class="text-white">Pending : 10</h6>
                        <h6 class="text-white">Cleared : 40</h6>
                    </div>
                </div>
            </div>
            <!-- end widget -->
        </div>
        <!-- end col-3 -->
    </div>
    <!-- end row -->
    <div class="row">
        <div class="col-lg-4">
            <div class="widget">
                <div class="widget-header bg-inverse-dark">
                    <ul class="widget-header-btn">
                        <li><a href="javascript:;" class="btn btn-white"><i class="fa fa-plus"></i></a></li>
                    </ul>
                    <h4 class="text-white">Todo List</h4>
                </div>
                <ul class="widget-todolist">
                    <li class="widget-todolist-title">Today</li>
                    <li class="completed">
                        <div class="checkbox">
                            <label>
                                <i class="far fa-square" data-click="todolist-checkbox"></i>
                                <input type="checkbox" name="todolist_checkbox" checked />
                            </label>
                        </div>
                        <div class="info">
                            <h4>Rv Generated from store RV00001 for Ahmed Kumar</h4>
                            <p>Today 11:15pm</p>
                        </div>
                        <div class="action">
                            <a href="#" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Archive</a></li>
                                <li><a href="#">Delete</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <label>
                                <i class="far fa-square" data-click="todolist-checkbox"></i>
                                <input type="checkbox" name="todolist_checkbox" />
                            </label>
                        </div>
                        <div class="info">
                            <h4>Rv Generated from store RV00002 for Patil Kumar </h4>
                            <p>Today 3:15pm</p>
                        </div>
                        <div class="action">
                            <a href="#" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Archive</a></li>
                                <li><a href="#">Delete</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="widget-todolist-title">Tomorrow</li>
                    <li>
                        <div class="checkbox">
                            <label>
                                <i class="far fa-square" data-click="todolist-checkbox"></i>
                                <input type="checkbox" name="todolist_checkbox" />
                            </label>
                        </div>
                        <div class="info">
                            <h4>Rv Generated from store RV00003 for Shivam Dubey</h4>
                            <p>Tomorrow 12:45pm</p>
                        </div>
                        <div class="action">
                            <a href="#" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Archive</a></li>
                                <li><a href="#">Delete</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <label>
                                <i class="far fa-square" data-click="todolist-checkbox"></i>
                                <input type="checkbox" name="todolist_checkbox" />
                            </label>
                        </div>
                        <div class="info">
                            <h4>Rv Generated from store RV00003 for Shivam Dubey</h4>
                            <p>Tomorrow 12:45pm</p>
                        </div>
                        <div class="action">
                            <a href="#" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Archive</a></li>
                                <li><a href="#">Delete</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <label>
                                <i class="far fa-square" data-click="todolist-checkbox"></i>
                                <input type="checkbox" name="todolist_checkbox" />
                            </label>
                        </div>
                        <div class="info">
                            <h4>Rv Generated from store RV00003 for Shivam Dubey</h4>
                            <p>Tomorrow 12:45pm</p>
                        </div>
                        <div class="action">
                            <a href="#" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Archive</a></li>
                                <li><a href="#">Delete</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- begin col-4 -->
        <div class="col-lg-4">
            <!-- begin widget -->
            <div class="widget widget-form">
                <div class="widget-header bg-inverse-dark">
                    <h4 class="text-white">Quick Message</h4>
                </div>
                <div class="widget-body p-b-15">
                    <form class="form-input-flat" method="POST" name="sample_form">
                        <div class="form-group">
                            <label class="col-form-label">To:</label>
                            <select name="" class="form-control">
                                <option>PPC department</option>
                                <option>Store department</option>
                                <option>Production department</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Subject</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Message</label>
                            <textarea class="form-control" rows="5"></textarea>
                        </div>
                        <div class="m-b-10 p-b-2">
                            <button type="submit" class="btn btn-lime btn-block btn-lg">Quick Post</button>
                        </div>
                     
                    </form>
                </div>
            </div>
            <!-- end widget -->
        </div>
        <!-- end col-4 -->
        <!-- end widget -->
        <div class="col-lg-4">
            <!-- begin widget -->
            <div class="widget p-0">
                <div class="widget-header m-0">
                    <a href="#" class="pull-right f-s-12">view more <i class="fa fa-angle-double-right"></i></a>
                    <h4>Recent Processed RV's</h4>
                </div>
                <div class="table-responsive">
                    <table class="table table-td-valign-middle m-b-0">
                        <thead>
                            <tr>
                                <th nowrap>#ID</th>
                                <th class="text-center">Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>RV0001</td>
                                <td class="text-center">COMPLETED</td>
                                <td class="text-center"><a href="#" class="btn btn-default btn-xs btn-rounded p-l-10 p-r-10"><i class="fa fa-cog"></i> Edit</a></td>
                            
                            </tr>
                            <tr>
                                <td>RV0002</td>
                                <td class="text-center">PENDING</td>
                                <td class="text-center"><a href="#" class="btn btn-default btn-xs btn-rounded p-l-10 p-r-10"><i class="fa fa-cog"></i> Edit</a></td>
                            </tr>
                            <tr>
                                <td>RV0003</td>
                                <td class="text-center">PENDING</td>
                                <td class="text-center"><a href="#" class="btn btn-default btn-xs btn-rounded p-l-10 p-r-10"><i class="fa fa-cog"></i> Edit</a></td>
                            </tr>
                            <tr>
                                <td>RV00004</td>
                                <td class="text-center">IN-PROCESS</td>
                                <td class="text-center"><a href="#" class="btn btn-default btn-xs btn-rounded p-l-10 p-r-10"><i class="fa fa-cog"></i> Edit</a></td>
                            </tr>
                            <tr>
                                <td>RV0001</td>
                                <td class="text-center">PENDING</td>
                                <td class="text-center"><a href="#" class="btn btn-default btn-xs btn-rounded p-l-10 p-r-10"><i class="fa fa-cog"></i> Edit</a></td>
                            </tr>
                            <tr>
                                <td>RV0001</td>
                                <td class="text-center">RECEIVED</td>
                                <td class="text-center"><a href="#" class="btn btn-default btn-xs btn-rounded p-l-10 p-r-10"><i class="fa fa-cog"></i> Edit</a></td>
                            </tr>
                            <tr>
                                <td>RV0001</td>
                                <td class="text-center">RECEIVED</td>
                                <td class="text-center"><a href="#" class="btn btn-default btn-xs btn-rounded p-l-10 p-r-10"><i class="fa fa-cog"></i> Edit</a></td>
                            </tr>
                            <tr>
                                <td>RV0001</td>
                                <td class="text-center">RECEIVED</td>
                                <td class="text-center"><a href="#" class="btn btn-default btn-xs btn-rounded p-l-10 p-r-10"><i class="fa fa-cog"></i> Edit</a></td>
                            </tr>
                            <tr>
                                <td>RV0001</td>
                                <td class="text-center">RECEIVED</td>
                                <td class="text-center"><a href="#" class="btn btn-default btn-xs btn-rounded p-l-10 p-r-10"><i class="fa fa-cog"></i> Edit</a></td>
                            </tr>
                            <tr>
                                <td>RV0001</td>
                                <td class="text-center">RECEIVED</td>
                                <td class="text-center"><a href="#" class="btn btn-default btn-xs btn-rounded p-l-10 p-r-10"><i class="fa fa-cog"></i> Edit</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end widget -->
        </div>
        <!-- end col-4 -->
    </div>
    <!-- end row -->
    
    <!-- begin #footer -->
    <div id="footer" class="footer">
        <span class="pull-right">
            <a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
                <i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
            </a>
        </span>
        &copy; 2020 <b>HAL</b> All Right Reserved
    </div>
    <!-- end #footer -->
</div>
<!-- end #content -->