<!-- begin #sidebar -->
<div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-user">
                <div class="image">
                    <img src="../assets/img/user_profile.jpg" alt="" />
                </div>
                <div class="info">
                    <div class="name dropdown">
                        <a href="javascript:;" data-toggle="dropdown">FINANCE ADMIN <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">Edit Profile</a></li>
                            <li><a href="javascript:;"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:;">Log Out</a></li>
                        </ul>
                    </div>
                    <div class="position">JHON DOE</div>
                </div>
            </li>
            <li class="nav-header">Navigation</li>
            <li class="active">
                <a href="bootstrap_4.html">
                    <i class="fa fa-home"></i>
                    <span>DASHBOARD</span>
                </a>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <span class="badge pull-right">10</span>
                    <i class="fa fa-inbox"></i> 
                    <span>Email</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="javascript:void(0);">Inbox</a></li>
                    <li><a href="javascript:void(0);">Compose</a></li>
                    <li><a href="javascript:void(0);">Detail</a></li>
                </ul>
            </li>
            <li class="nav-header">Activities</li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-suitcase"></i>
                    <span>Master</span>
                </a>
                <ul class="sub-menu">
                <li><a href="javascript:void(0);">Master Chat of Accounts</a></li>
                <li><a href="javascript:void(0);">Agreement Works Contract</a></li>
                <li><a href="javascript:void(0);">Branches</a></li>
                <li><a href="javascript:void(0);">Balance Sheet Achedules</a></li>
                <li><a href="javascript:void(0);">Balance Sheet Groups</a></li>
                <li><a href="javascript:void(0);">Cash Flow Master</a></li>
                <li><a href="javascript:void(0);">Imported RV Charges Master</a></li>
                <li><a href="javascript:void(0);">LC(Letter of Credit)</a></li>
                <li><a href="javascript:void(0);">Section Master</a></li>
                <li><a href="javascript:void(0);">Year Opening Balance Entry</a></li>
                <li><a href="javascript:void(0);">FIN011</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-align-left"></i>
                    <span>Transactions</span> 
                </a>
                <ul class="sub-menu">
                <li><a href="javascript:void(0);">Receipt Voucher Valuation</a></li>
                <li><a href="javascript:void(0);">Payment Advice</a></li>
                <li><a href="javascript:void(0);">Imported RV Valuation</a></li>
                <li><a href="javascript:void(0);">Payment Voucher</a></li>
                <li><a href="javascript:void(0);">OP Voucher Correction</a></li>
                <li><a href="javascript:void(0);">Issue Voucher Correction</a></li>
                <li><a href="javascript:void(0);">Stock Transfer Correction</a></li>
                <li><a href="javascript:void(0);">Cash/Bank Receipt</a></li>
                <li><a href="javascript:void(0);">Journal Voucher</a></li>
                <li><a href="javascript:void(0);">Bill No Entry for RV</a></li>
                <li><a href="javascript:void(0);">Bank Advice Detail Entry</a></li>
                <li><a href="javascript:void(0);">Other Rents Recoverable</a></li>
                <li><a href="javascript:void(0);">Liability Expenses Entry</a></li>
                <li><a href="javascript:void(0);">Miscellaneous Invoice</a></li>
                <li><a href="javascript:void(0);">Branch Trail Balance</a></li>
                <li><a href="javascript:void(0);">Branch Trail Balance Loader</a></li>
                <li><a href="javascript:void(0);">C-Form Receipt</a></li>
                <li><a href="javascript:void(0);">CC Wise Expense Modification</a></li>
                <li><a href="javascript:void(0);">Return Note Correction</a></li>
                <li><a href="javascript:void(0);">Raw Material Consumption</a></li>
                <li><a href="javascript:void(0);">Stock Verification Note</a></li>
                <li><a href="javascript:void(0);">Raw Material Consumption Modify</a></li>
                <li><a href="javascript:void(0);">Contractors Bill Booking Entry</a></li>
                <li><a href="javascript:void(0);">TDS Challan Entry</a></li>

                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-file"></i>
                    <span>Reports</span> 
                </a>
                <ul class="sub-menu">
                <li><a href="receiptvouchers.html">All Receipt Vouchers</a></li>
                <li><a href="javascript:void(0);">Payment Advice(Report)</a></li>
                <li><a href="javascript:void(0);">Master Listing</a></li>
                <li><a href="javascript:void(0);">Price List for Imported RV</a></li>
                <li><a href="javascript:void(0);">L C Register</a></li>
                <li><a href="javascript:void(0);">Purchase Journal Printing</a></li>
                <li><a href="javascript:void(0);">Purchase Tax Report</a></li>
                <li><a href="javascript:void(0);">Cash/Bank Checklist</a></li>
                <li><a href="javascript:void(0);">Journal Voucher Listing</a></li>
                <li><a href="javascript:void(0);">Cash/Bank Book</a></li>
                <li><a href="javascript:void(0);">Cash Flow Statement</a></li>
                <li><a href="javascript:void(0);">Liability For Expenses</a></li>
                <li><a href="javascript:void(0);">List Of Debit Balance</a></li>
                <li><a href="javascript:void(0);">Summary Of Advance Sub-Ledger</a></li>
                <li><a href="javascript:void(0);">Purchase Journal Summary</a></li>
                <li><a href="javascript:void(0);">Supplier Outstandings</a></li>
                <li><a href="javascript:void(0);">Sales Register</a></li>
                <li><a href="javascript:void(0);">Account Wise CC Wise Expense</a></li>
                <li><a href="javascript:void(0);">TDS Payment</a></li>
                <li><a href="javascript:void(0);">CC Acct Wise Expenses</a></li>
                <li><a href="javascript:void(0);">Raw Material Consumption Validation</a></li>
                <li><a href="javascript:void(0);">'C' From Receivable</a></li>
                <li><a href="javascript:void(0);">Contractors Bill Booking</a></li>
                <li><a href="javascript:void(0);">Raw Material Consumption</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-th"></i>
                    <span>Ledgers</span>
                </a>
                <ul class="sub-menu">
                <li><a href="javascript:void(0);">Sub-Ledger</a></li>
                <li><a href="javascript:void(0);">Sub-Ledger For A/C 5021/5022</a></li>
                <li><a href="javascript:void(0);">Sub-Ledger For A/C 4615/5401</a></li>
                <li><a href="javascript:void(0);">Sub-Ledger For A/C 2501/2502</a></li>
                <li><a href="javascript:void(0);">Sub-Ledger For A/C 4725</a></li>
                <li><a href="javascript:void(0);">Sub-Ledger For A/C 3001</a></li>
                <li><a href="javascript:void(0);">Disabled</a></li>
                <li><a href="javascript:void(0);">Sub-Ledger For A/C 5132-34</a></li>
                <li><a href="javascript:void(0);">Sub-Ledger For A/C 5299</a></li>
                <li><a href="javascript:void(0);">Sub-Ledger For A/C 4035/4037/4051</a></li>
                <li><a href="javascript:void(0);">Sub-Ledger For A/C 2626</a></li>
                <li><a href="javascript:void(0);">Sub-Ledger For A/C 3325 </a></li>
                <li><a href="javascript:void(0);">Incremental Ledger</a></li>
                <li><a href="javascript:void(0);">Inventory Ledger</a></li>
                <li><a href="javascript:void(0);">Inventory Operations Summary</a></li>
                <li><a href="javascript:void(0);">General Ledger</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-envelope"></i>
                    <span>Documents</span>
                </a>
                <ul class="sub-menu">
                <li><a href="javascript:void(0);">Payment Advice (Printing)</a></li>
                <li><a href="javascript:void(0);">Receipt Voucher (Printing)</a></li>
                <li><a href="javascript:void(0);">Payment Voucher (Printing)</a></li>
                <li><a href="javascript:void(0);">Miscellaneous Invoice Printing</a></li>
                <li><a href="javascript:void(0);">Bank/Cash Receeipt (Printing)</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-cogs"></i>
                    <span>Adminstration</span>
                </a>
                <ul class="sub-menu">
                <li><a href="javascript:void(0);">Previleges For Approval</a></li>
                <li><a href="javascript:void(0);">User Approval</a></li>
                <li><a href="javascript:void(0);">Data Purging</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-chart-area"></i>
                    <span>Processing</span>
                </a>
                <ul class="sub-menu">
                <li><a href="javascript:void(0);">Calculation Of Average Rate</a></li>
                <li><a href="javascript:void(0);">Month Closing</a></li>
                <li><a href="javascript:void(0);">Balancing Of Sub-Ledger</a></li>
                <li><a href="javascript:void(0);">Consolidation Of Trail Balance</a></li>
                <li><a href="javascript:void(0);">Extraction Of Material Ledger</a></li>
                <li><a href="javascript:void(0);">Processing Status</a></li>
                <li><a href="javascript:void(0);">P/L and Balance Sheet Creation</a></li>
                <li><a href="javascript:void(0);">Sub Ledger Correction</a></li>
                <li><a href="javascript:void(0);">Extraction of Raw Material</a></li>
                <li><a href="javascript:void(0);">Extraction of Expense</a></li>
                <li><a href="javascript:void(0);">Trail Balance Rounding</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-cubes"></i>
                    <span>Bank Reconciliation</span>
                </a>
            <ul class="sub-menu">
                <li><a href="javascript:void(0);">HAL Statement Entry</a></li>
                <li><a href="javascript:void(0);">Bank Statement Entry</a></li>
                <li><a href="javascript:void(0);">Bank Balance Statement</a></li>
                <li><a href="javascript:void(0);">HAL Statement Report</a></li>
                <li><a href="javascript:void(0);">Bank Statement Reort</a></li>
                <li><a href="javascript:void(0);">Reconciliation Statement</a></li>
            </ul>
            </li>
            
            
            <li class="nav-header">Preferences</li>
            <li>
                <a href="javascript:void(0);">
                    <i class="fa fa-map-marker"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <i class="fa fa-calendar"></i>
                    <span>Calendar</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <i class="fa fa-cogs"></i>
                    <span>Settings</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <i class="fa fa-align-left"></i> 
                    <span>Knowledge Base</span>
                </a>
            </li>
             <li class="divider has-minify-btn">
                <!-- begin sidebar minify button -->
                <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-left"></i></a>
                <!-- end sidebar minify button -->
            </li>
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->